{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <div class="form">
        <h2 class="form-title">  <span class="highlight">Movie</span> review 🍿</h2>
        <hr/>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <p>
                <label>title: </label> 
                <input class="form-input" type="text" maxlength="30">
            </p>
            <p>
                <label>release date: </label> 
                <input id="release-date" class="form-input"type="number"  value="2021">
            </p>
            <p>
                <label>genre: </label> 
                <input class="form-input"type="text" maxlength="50">
            </p>
            <p>
                <label>rating: </label> 
                <input id="rating" class="form-input" type="number" value="0" step="0.5" >
            </p>
            <p>
                <label>running time: </label>
                <input class="form-input"type="text" maxlength="20">
            </p>
            <p>
                <p id="review-content"><label>review content: </label></p>
                <textarea class="content-input" cols="63" rows="10"></textarea>
            </p>
            <p>
                <label>director: </label> 
                <input class="form-input" type="text" maxlength="20">
            </p>
            <p>
                <label>actor: </label> 
                <input class="form-input" type="text" maxlength="255">
            </p>
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
</div>
{% endblock %}