{% extends "base.html" %}

{% block content %}
<h1>{{ review.title }}</h1>
    <p><span>개봉일</span>{{ review.release_date }}</p>
    <p><span>감독</span>{{ review.director }}</p>
    <p><span>주연</span>{{ review.actor }}</p>
    <p><span>장르</span>{{ review.genre }}</p>
    <p><span>별점</span>{{ review.rating }}</p>
    <p><span>러닝타임</span>{{ review.running_time }}</p>
    <p><span>리뷰</span>{{ review.content }}</p>
    <a href="{% url 'review:update' review.id %}"><span>수정</span></a>
    <a href="{% url 'review:delete' review.id %}"><span>삭제</span></a>
{% endblock %}